#timerContainer {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  width: fit-content;
  margin: 20px auto;
  min-height: 60px;
  border-top: 0px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 0px;
}

.timer {
  min-width: 500px;
  max-width: 500px;
  min-height: 30px;
  text-align: center;
  vertical-align: middle;
  border: 1px solid darkgray;
  display: flex;
}

.time-label {
  margin-left: 15px;
  margin-bottom: 0px;
  width: 10%;
}

.time-text {
  width: 100%;
}

#timer-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#start {
  width: 50%;
}

#stop {
  width: 50%;
}

table {
  margin-top: 20px;
}

td,
tr {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

td,
th {
  width: 1%;
  text-align: center !important;
}
